# Ignore Gradle project-specific cache directory
**/.gradle

# Ignore Gradle build output directory
**/build

# Ignore Eclipse files and directories
**/.classpath
**/.project
**/.settings/
**/bin/
omnichannel-conversations-backend/.classpath
omnichannel-conversations-backend/.project
omnichannel-conversations-backend/.settings
omnichannel-conversations-backend/bin
omnichannel-conversations-backend/build
